<form id="newApplicationForm" data-request="onSubmitApplication" data-request-files data-request-validate data-request-flash data-request-success="formSuccess(this, context, data, textStatus, jqXHR)">
	{{ form_sessionKey()}}
	{{ form_token()}}

	<div class="form-row">
		<div class="form-group col">
			<label for="name_en">Name (In English)
				<span class="text-danger">*</span>
			</label>
			<input type="text" name="user[first_name]" class="form-control" id="name_en">
			<div class="text-danger" data-validate-for="user.first_name"></div>
		</div>
		<div class="form-group col">
			<label for="name_bn">Name (In Bangla)
				<span class="text-danger">*</span>
			</label>
			<input value="{{member.name}}" type="text" name="user[fullname_bn]" class="form-control" id="name_bn">
			<div class="text-danger" data-validate-for="user.fullname_bn"></div>
		</div>


		<div class="form-group col ">
			<label for="avatar">Profile Image
				<span class="text-danger">*</span>
			</label>
			<input data-request-ajax-global="true" data-request-files data-request="onPhotoUpload" data-request-update="imagePreview:'#avatarPreview'" accept="image/*" type="file" name="avatar" class="form-control" id="avatar"/>

			<small class="form-text text-muted">250x250 image.</small>

			<div class="text-danger" data-validate-for="avatar"></div>
			<div id="avatarPreview"></div>
		</div>

		<div class="form-group col-md-4">
			<label for="ReferenceSelection">Reference Member
				<span class="text-danger">*</span>
			</label>

			<select id="referenceSelection" class="form-control" name="profile[reference_member]">
				<option value="">Select</option>
				{% for member in activeMembers %}
					<option value="{{member.id}}">
						{{member.first_name ~ ' ' ~ member.last_name ~' - '~ member.login}}
					</option>
				{% endfor %}
			</select>
			<div class="text-danger" data-validate-for="profile.reference_member"></div>
		</div>

	</div>

	<div class="form-row">

		<div class="form-group col">
			<label for="roll">Roll
				<span class="text-danger">*</span>
			</label>
			<input value="{{member.roll}}" type="text" name="profile[roll]" class="form-control" id="roll">
			<div class="text-danger" data-validate-for="profile.roll"></div>
		</div>

		<div class="form-group col">
			<label for="email">Email
				<span class="text-danger">*</span>
			</label>
			<input type="email" name="user[email]" class="form-control" id="email">
			<div class="text-danger" data-validate-for="user.email"></div>
		</div>

		<div class="form-group col">
			<label for="mobile">Personal Mobile
				<span class="text-danger">*</span>
			</label>
			<input type="text" name="user[mobile]" class="form-control" id="mobile">
			<div class="text-danger" data-validate-for="user.mobile"></div>
		</div>

		<div class="form-group col">
			<label for="official_mobile">Official Mobile
				<span class="text-danger">*</span>
			</label>
			<input type="text" name="profile[official_mobile]" class="form-control" id="official_mobile">
			<div class="text-danger" data-validate-for="profile.official_mobile"></div>
		</div>


	</div>


	<div class="form-row">

		<div class="form-group col">
			<label for="cadre">Cadre
				<span class="text-danger">*</span>
			</label>
			<select class="form-control" name="user[cadre]">
				<option value="">Select</option>
				{% for cadre in cadres %}
					<option value="{{cadre}}">{{cadre}}</option>
				{% endfor %}
			</select>

			<div class="text-danger" data-validate-for="user.cadre"></div>
		</div>


		<div class="form-group col">
			<label for="designation">Designation
				<span class="text-danger">*</span>
			</label>
			<input type="text" name="user[designation]" class="form-control" id="designation">
			<div class="text-danger" data-validate-for="user.designation"></div>
		</div>

		<div class="form-group col">
			<label for="office_address">Office Name & Address
				<span class="text-danger">*</span>
			</label>
			<input type="text" name="user[office_name]" class="form-control" id="office_address">
			<div class="text-danger" data-validate-for="user.office_name"></div>
		</div>

		<div class="form-group col">
			<label for="father_name">Father Name
				<span class="text-danger">*</span>
			</label>
			<input type="text" name="profile[father_name]" class="form-control" id="father_name">
			<div class="text-danger" data-validate-for="profile.father_name"></div>
		</div>


	</div>


	<div class="form-row">
		<div class="form-group col">
			<label for="nid">NID
				<span class="text-danger">*</span>
			</label>
			<input type="text" name="profile[nid]" class="form-control" id="nid">
			<div class="text-danger" data-validate-for="profile.nid"></div>
		</div>
		<div class="form-group col">
			<label for="dob">Date of Birth
				<span class="text-danger">*</span>
			</label>
			<input type="date" name="profile[dob]" class="form-control" id="dob">
			<div class="text-danger" data-validate-for="profile.dob"></div>
		</div>
		<div class="form-group col">
			<label for="blood_group">Blood Group</label>
			<select name="profile[blood_group]" class="form-control">
				<option value="select">Select</option>
				<option value="A+">A +</option>
				<option value="A-">A -</option>
				<option value="B+">B +</option>
				<option value="B-">B -</option>
				<option value="AB+">AB +</option>
				<option value="AB-">AB -</option>
				<option value="O+">O +</option>
				<option value="O-">O -</option>
			</select>
		</div>

		<div class="form-group col">
			<label for="office_address">Sex
				<span class="text-danger">*</span>
			</label>
			<select name="profile[sex]" class="form-control">
				<option value="Male">Male</option>
				<option value="Female">Female</option>
			</select>
			<div class="text-danger" data-validate-for="profile.sex"></div>
		</div>

	</div>


	<div class="form-row">
		<div class="form-group col">
			<label for="present_house_no">Present Hourse Number
				<span class="text-danger">*</span>
			</label>
			<input type="text" name="profile[present_house_no]" class="form-control" id="present_house_no">
			<div class="text-danger" data-validate-for="profile.present_house_no"></div>
		</div>
		<div class="form-group col">
			<label for="present_road_no">Present Road Number / Vill
				<span class="text-danger">*</span>
			</label>
			<input type="text" name="profile[present_road_no]" class="form-control" id="present_road_no">
			<div class="text-danger" data-validate-for="profile.present_road_no"></div>
		</div>

		<div class="form-group col">
			<label for="present_address">Present Address / (P.O, Upazila, District)
				<span class="text-danger">*</span>
			</label>
			<input type="text" name="profile[present_address]" class="form-control" id="present_address">
			<div class="text-danger" data-validate-for="profile.present_address"></div>
		</div>

	</div>

	<div class="form-row">
		<div class="form-group col">
			<label for="permanent_house_no">Permanent Hourse Number
				<span class="text-danger">*</span>
			</label>
			<input type="text" name="profile[permanent_house_no]" class="form-control" id="permanent_house_no">
			<div class="text-danger" data-validate-for="profile.permanent_house_no"></div>
		</div>
		<div class="form-group col">
			<label for="permanent_road_no">Permanent Road Number / Vill
				<span class="text-danger">*</span>
			</label>
			<input type="text" name="profile[permanent_road_no]" class="form-control" id="permanent_road_no">
			<div class="text-danger" data-validate-for="profile.permanent_road_no"></div>
		</div>

		<div class="form-group col">
			<label for="permanent_address">Permanent Address / (P.O, Upazila, District)
				<span class="text-danger">*</span>
			</label>
			<input type="text" name="profile[permanent_address]" class="form-control" id="permanent_address">
			<div class="text-danger" data-validate-for="profile.permanent_address"></div>
		</div>

	</div>


	<button data-toggle="modal" href="#contentBasic" type="sumit" data-request-files data-request="onPreview" class="btn btn-primary" data-attach-loading>Preview</button>


</form>

<script>
	function formSuccess(form, context, data, textStatus, jqXHR) {
form.reset();
}
</script>
