<div class="control-popup modal fade" id="contentBasic">
	<div class="modal-dialog" style="min-width:80%">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Preview your data</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<div class="modal-body" id="modalBodyContent">
				<p>Loading...</p>
			</div>
			<div
				class="modal-footer">
				<!-- Popup action buttons go here -->
				<button data-dismiss="modal" type="button" id="newAppPreviewSubmitBtn" class="btn btn-primary oc-icon-send" data-load-indicator="Sending">
					Submit & Print Copy
				</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Cancel
				</button>
			</div>
		</div>
	</div>
</div>
